.result-inner-box{
    border-radius: 7px;
    /*padding:40px;*/
    //background-color:#4A52BF;
    //background-image: linear-gradient(to right, #E61575 , #2B3079);
    padding:0px;
    
}
.count-and-price-container{
    margin-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 7px;
    background-color:  rgba(43,48,121,0.0);
    -webkit-box-shadow: -1px -1px 6px 2px rgba(181,179,181,0.53);
    -moz-box-shadow: -1px -1px 6px 2px rgba(181,179,181,0.53);
    box-shadow: -1px -1px 6px 2px rgba(181,179,181,0.53);
    margin-top:0;
    margin-bottom:10px;
}
.filters-new-container{
    margin-left: 10px;
    padding-bottom:10px;
    border-radius: 7px;
    background-color:  rgba(43,48,121,0.0);
    -webkit-box-shadow: -1px -1px 6px 2px rgba(181,179,181,0.53);
    -moz-box-shadow: -1px -1px 6px 2px rgba(181,179,181,0.53);
    box-shadow: -1px -1px 6px 2px rgba(181,179,181,0.53);
    margin-top:0;
    margin-bottom:10px;
}
.locations-container{
   margin-top: 0;
}
.states-container-box{
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
}
.data-button-text{
    font-family: Gilmer-Regular;
	font-size:15px;
	//font-weight:bold;
	text-decoration:none;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    color:white;
}
.data-button {
	background-color:#FCBD17;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
    margin-top: 10px;
    width: 60%;

}
.data-button:hover {
    text-decoration: none;
    background-color:#FCBD17;
}

.other-params-text{
    font-family: Gilmer-Regular;
    color:rgb(252,189,23);
    font-size:13px;
}
.other-params-data-text{
    font-family: Gilmer-Regularf;
    color: white;
    font-size:13px;
}
.filters-header{
    font-family: Gilmer-Regular;
    color: white;
    font-size:20px;
    width:100%;
}
.get-sample-button{
    color:#E94A40;
}
.get-sample-button:hover{
    color:rgb(252,189,23);
}

.count-of-other-data{
    border-color: white;
    border-width:1px;
    border-style:solid;
    border-radius:10px;
    background-color:#2B3079;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    margin-top:10px;
    padding:10px;
}