.result-inner-box{
    border-radius: 7px;
    padding:40px;
    background-color:#4A52BF;
    //background-image: linear-gradient(to right, #E61575 , #2B3079);
}
.locations-container{
   margin-top: 0;
}
.states-container-box{
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
}
.data-button-text{
    font-family: Gilmer-Regular;
	font-size:15px;
	//font-weight:bold;
	text-decoration:none;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    color:white;
}
.data-button {
	background-color:#E94A40;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
    margin-top: 10px;
    width: 100%;

}
.data-button:hover {
    text-decoration: none;
    background-color:#FCBD17;
}

.other-params-text{
    font-family: Gilmer-Regular;
    color:rgb(252,189,23);
    font-size:13px;
}
.other-params-data-text{
    font-family: Gilmer-Regularf;
    color: white;
    font-size:13px;
}
.filters-header{
    font-family: Gilmer-Regular;
    color: rgb(252,189,23);
    font-size:20px;
    width:100%;
}
.get-sample-button{
    color:#E94A40;
}
.get-sample-button:hover{
    color:rgb(252,189,23);
}

.count-of-other-data{
    border-color: white;
    border-width:1px;
    border-style:solid;
    border-radius:10px;
    background-color:#2B3079;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    margin-top:10px;
    padding:10px;
}