.category-name-box-container {
  display: table;
  
  margin-left: 5px;
  /* align-items: center;
  justify-content: center;
  align-content: center;
  
  text-align: left; */
  
}
.category-name {
  display: table;
  color: #000;
  font-family: Gilmer-Regular;
  font-size: 13px;
  font-optical-sizing: 13px; /* This has to be "list-item"                                               */
  /* list-style-type: disc;
  list-style-position: inside; */
  font-weight: 'bold';
  margin-top: 5px;
 
  
}
.category-name-inner-span{
  padding-bottom: 2px;
  color: #000;
  font-family: Gilmer-Regular;
  font-size: 13px;
  font-optical-sizing: 13px; /* This has to be "list-item"                                               */
  /* list-style-type: disc;
  list-style-position: inside; */
  font-weight: 'bold';
}
.checkbox-categories-container {
  margin-top: 3px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  //width: 20px;
  //height: 100%
}
.category-box:hover {
  background-color: #fcbd17;
  background-color: rgb(115, 119, 167);
  border-radius: 2px;
  
  
  
}
.category-box{
    margin-top: 5px;
    border-radius: 3px;
    width: 100%;

      
}

@media screen and (max-width: 473px) {
  .category-name-inner-span {
    font-size: 10px;
  }
}
@media screen and (min-width: 473px) and (max-width : 711px) {
    .category-name-inner-span {
      font-size: 10.58px;
    }
  }
