@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid white;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 4px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #303030;
  }
  
  .searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #303030;
    background: #303030;
    text-align: center;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  hr {
    margin:0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }