.navigation-top-container{
    height: 90px;
    //background-image: linear-gradient(to right, #E61575 , #2B3079); 
    background-color:inherit;
    padding-right:40px;
    //position:inherit;
    display: flex;
    flex-direction: row;
    //width :100%;
    
} 
@media screen and (max-width:993px){
    .logo-container{
        margin-left:0px !important;
    }
    li {
        float: right;
        max-width: 80px;
        margin-left:10px;
    
    }
}
.logo-container{
    flex:1;
    height: 90px;
    //max-width:100px;
    //padding-left:40px;
    //margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
    display:flex;
    padding-top: 20px;
    //margin-left: 100px;
    
}
.navigation-buttons-container{
    flex:2;
    height: 90px;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.navigation-with-button-container{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
  
li {
    float: right;
    max-width: 100px;
    margin-left:40px;

}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    //color:  #E61575 ;
    color:gray;
    text-decoration: none;
    font-weight: 500;
    font-family: Gilmer-Regular;
    font-size: 18px;

}
.download-navigation-button{
    border-radius: 50px;
    height: 50px;
    background-color: #FCBD17;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 711px){
    li a{
        font-size: 13px;

    }
}
li a:hover {
    color: #E61575;
    text-decoration: none;
}
.icon-bars{
    color:#E61575;
    font-size: 25px;
}
.navigation-main-button-container{
    position:absolute;
    z-index: 2000;
    margin-right: 0px;
}
.navigation-dropdown-menu{
    position: relative;
    z-index: 10000;
    background-color: white;
    display:flex;
    flex-direction: column-reverse;
    
    height:200px;
    width:100px;
    margin-top:280px;
    margin-right: -40px;
    padding-right: 0;
}