.navigation-top-container{
    height: 50px;
    background-image: linear-gradient(to right, #E61575 , #2B3079); 
    //background-color:#4A52BF;
    padding-right:40px;
    position:inherit;
    display: flex;
    flex-direction: row;
} 

.logo-container{
    flex:1;
    max-width:100px;
    padding-left:40px;
}
.navigation-buttons-container{
    flex:2;
}
.navigation-with-button-container{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
  
li {
    float: right;
    max-width: 100px;
    margin-left:40px;

}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    //color:  #E61575 ;
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-family: Gilmer-Regular;
    font-size: 18px;
}
@media screen and (max-width: 711px){
    li a{
        font-size: 13px;
    }
}
li a:hover {
    color: #E61575;
    text-decoration: none;
}
.icon-bars{
    color:white;
    font-size: 25px;
}
.navigation-main-button-container{
    position:absolute;
    z-index: 2000;
}
.navigation-dropdown-menu{
    position: relative;
    z-index: 1000;
    background-color: #2B3079;
    display:flex;
    flex-direction: column-reverse;
    height:200px;
    width:100px;
    margin-top:247px;
    margin-right: -40px;
}