.navigation-top-container {
  height: 90px;
  //background-image: linear-gradient(to right, #E61575 , #2B3079);
  background-color: inherit;
  //position:inherit;
  display: flex;
  flex-direction: row;
  //width :100%;
}
.navigation-bottom-shadow {
    -webkit-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 12px -10px rgba(0,0,0,0.75);
}
@media screen and (max-width: 993px) {
  .logo-container {
    margin-left: 0px !important;
  }
  li {
    float: right;
    max-width: 80px;
    margin-left: 10px;
  }
}
.logo-container {
  flex: 1;
  height: 90px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.navigation-single-button {
 
  text-align: center;
}
.navigation-single-button-download {
    text-align: center;
  border-style: none;
  background-color: #fcbd17;
  border-radius: 20px;
  align-self: center;
}
.navigation-single-button-download:focus {
  outline: 0 !important;
}
.navigation-buttons-container {
  flex: 2;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.navigation-with-button-container {
  flex: 1;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  max-width: 100px;
  margin-left: 40px;
}

.navigation-div-text {
  text-align: center;
  padding: 14px 16px;
  /* color:  #E61575 ; */
  color: black;
  text-decoration: none;
  font-weight: 575;
  font-family: Gilmer-Regular;
  font-size: 18px;
  
}
.download-navigation-button {
  border-radius: 10px;
  height: 50px;
  background-color: #fcbd17;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 796px) {
  li a {
    font-size: 13px;
  }
  .navigation-div-text {
    text-align: center;
    padding: 14px 16px;
    /* color:  #E61575 ; */
    color: black;
    text-decoration: none;
    font-weight: 575;
    font-family: Gilmer-Regular;
    font-size: 14px;
    
  }
}
li a:hover {
  color: #e61575;
  text-decoration: none;
}
.icon-bars {
  color: #e61575;
  font-size: 25px;
}
.navigation-main-button-container {
  position: absolute;
  z-index: 2000;
  margin-right: 0px;
}
.navigation-dropdown-menu {
  position: absolute;
  z-index: 10000;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 110px;
  margin-right: 0px;
  padding-right: 0;
  padding:10px;
  -webkit-box-shadow: 2px 10px 12px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 10px 12px -5px rgba(0,0,0,0.75);
  box-shadow: 2px 10px 12px -5px rgba(0,0,0,0.75);
}
