.filters-common-header-container{
    margin-bottom:5px;
    width:100%;
    border-bottom: 2px solid rgb(115, 119, 167); 
}
.categories-header-filter-text-1 {
    font-family: Gilmer-Regular;
    color: rgb(115, 119, 167);
    
}
.category-filter-con{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:5px;
    width:100%;
}
.category-remove-button-con{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0px;
    padding-right: 5px;
}
.category-text-span{
    color:#000;
    vertical-align:middle;
    font-size: 16px;
    font-family: Gilmer-Regular;

}
@media screen and (min-width: 992px){
    .category-text-span{
        font-size: 13px;
    }
    .categories-header-filter-text-1 {
        font-size: 16px;
    }
}
@media (max-width: 992px){
    .category-text-span{
        font-size: 13px;
    }
    .categories-header-filter-text-1 {
        font-size: 13px;
    }
}

.close-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FCBD17;
    align-self: center;
    position:relative;
    border-style: none;
}

.close-button:before,
.close-button:after {
  content: '';
  width: 84%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 45%;
  left: 8%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  //transition: all 0.3s ease-out; */
}
.close-button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /* -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; */
}
/* .close-button:hover:before,
.close-button:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
} */
.every-filter-container{
    margin-top:10px;
    /* border-radius:5px; */
    /* background-color:rgb(252,189,23); */
    width:100%;
    /* padding:10px; */
}
.filter-info-container {
    
    margin-right: 5px;
}