.header-about-us{
    font-size:2.6vw;
    margin-top: 100px;
    margin-left: 2vw;
    margin-bottom:3vh;
    font-family: Gilmer-Heavy;
    background: linear-gradient(to right, #E61575  , #2B3079 )    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aboutus-sub-text{
    padding:0.5vh 0px;  
    font-family: Gilmer-Regular;
    font-size: 2.2vmin;
    margin-left:2vw;
    color:gray;
}