.colored-texts{
    background-image: linear-gradient(to right,#2B3079, #E61575); 
}
@media screen and (max-width:993px){
    .home-text-container{
        //margin-left:-80px !important;
    }
   
}
@media screen and (min-width:993px){
    .home-text-container{
        margin-left:-80px !important;
        padding-left:100px;
    }
    
    
    .home-page-bs-container{
        //margin-left:40px !important;
    }
}
.home-page-small-text{
    display: block;
    font-family: Gilmer-Regular;
    font-size: 16px;
    color:gray;
}
.home-text-container{
    //margin-left: 10%;
    
    padding-top:100px;
    padding-bottom: 100px 
}
.home-page-main-header{
    //margin-top: 100px;
    font-family: Gilmer-Regular;
    font-weight:300;
    font-size: 30px;
    //background: linear-gradient(to right, #E61575  , #2B3079 )    ;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.direction-image-container{
    width:100px;
    height:100px;
    border-radius: 50px;
    //background-color: palegreen;
}
.home-page-sub-header{
    margin-top: 10px;
    font-family: Gilmer-Heavy;
    font-size: 27px;
    background: whitesmoke ;
    //background: linear-gradient(to right, #E61575  , #2B3079 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //text-shadow: 2px 2px #2B3079;
}
.center-direction-text{
    
    display:flex;
    align-items: center;
    justify-content: center;
}
.direction-text-containers{
    height:'auto';
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.home-page-small-text-question{
    display: block;
    font-family: Gilmer-Heavy;
    font-size: 17px;
    background: #2B3079 ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.how-to-use-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-image-cascade{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #E61575;
    position: absolute;
    border-color: aliceblue;
    border-width: 0.5px;
    border-style: solid;
}
.second-image-cascade{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(to right,  #2B3079 , #E61575 );
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-color: aliceblue;
    border-width: 0.5px;
    border-style: solid;
}
.third-image-cascade{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #2B3079;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    border-color: aliceblue;
    border-width: 0.5px;
    border-style: solid;
}
.discover-leads-button{
    width: 150px;
    height: 40px;
    background-color: #FCBD17;
    text-align: center;
    border-radius: 30px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-family: Gilmer-Regular;
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    font-family: Gilmer-Regular;
    color: whitesmoke;
    cursor: pointer;
}
.discover-leads-button:hover{
    background-color: #E61575;
}


.illus-image{
    width: 400px;
     height: 400px;
}
@media screen and (max-width:993px){
    .illus-image{
        width: 300px;
         height: 300px;
    }
    .center-direction-text{
        padding-left: 10px;
        
    }
    
}
