.home-page-bs-container{
    margin-left:100px;
}
@media screen and (max-width:711px){
    .home-page-bs-container{
        margin-left:10px !important;
    }
}
.home-page-main-header{
    margin-top: 100px;
    font-family: Gilmer-Heavy;
    font-size: 40px;
    background: linear-gradient(to right, #E61575  , #2B3079 )    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-page-sub-header{
    margin-top: 20px;
    font-family: Gilmer-Heavy;
    font-size: 27px;
    background: #E61575 ;
    //background: linear-gradient(to right, #E61575  , #2B3079 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //text-shadow: 2px 2px #2B3079;
}

.home-page-small-text{
    padding:20px 0px;
    margin-top: 20px;
    font-family: Gilmer-Regular;
    font-size: 16px;
    color:gray;
}
.home-page-small-text-question{
    margin-top: 20px;
    font-family: Gilmer-Heavy;
    font-size: 17px;
    background: #E61575 ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.how-to-use-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-image-cascade{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #E61575;
    position: absolute;
    border-color: aliceblue;
    border-width: 0.5px;
    border-style: solid;
}
.second-image-cascade{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(to right,  #2B3079 , #E61575 );
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-color: aliceblue;
    border-width: 0.5px;
    border-style: solid;
}
.third-image-cascade{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #2B3079;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    border-color: aliceblue;
    border-width: 0.5px;
    border-style: solid;
}
.discover-leads-button{
    width: 200px;
    height: 50px;
    background-color: #FCBD17;
    text-align: center;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.discover-leads-button:hover{
    background-color: #E61575;
}
.discover-leads-button-text{
    font-size: 20px;
    font-family: Gilmer-Regular;
    color: whitesmoke;
    
}
